@model IEnumerable<DAO.Model.Foundation>

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-bottom py-5">
    <div class="container">
        <h2 class="text-center" style="font-family: 'Times New Roman'; color: #c01d1d">
            Some organizations and programs that the website supports
        </h2>
    </div>
    @foreach (var item in Model)
    {
        <div class="container py-md-5">
            <div class="row grids-wthree-info">
                <div class="col-lg-5 bag-img">
                    <img src="@item.ImgFound" class="img-fluid center-block" alt="" />
                </div>
                <div class="col-lg-7 text-left mt-2">
                    <h3 style="font-family:'Times New Roman'; color: #3a7a1e; font-weight: bold;">@item.FoundationName</h3>
                    <p style="font-family:'Times New Roman'; font-size: 15px;">
                        @item.ContentFound
                    </p>
                    <div class="row">
                        <div class="col-md-5">
                            <a href="@item.Link" class="btn shop mt-4">More Information</a>
                        </div>
                        <div class="col-md-5 mt-4">
                            <a style="font-family:'Times New Roman'; font-size: 20px; color: #c01d1d; font-weight: bold"><span>Total Cash: $ @item.TotalCash</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @*<div class="container py-md-5">
        <div class="row grids-wthree-info">
            <div class="col-lg-5 bag-img">
                <img src="~" class="img-fluid center-block" alt="" />
            </div>
            <div class="col-lg-7 text-left mt-2">
                <h3 style="font-family:'Times New Roman'; color: #3a7a1e; font-weight: bold;">Sống Foundation</h3>
                <p style="font-family: 'Times New Roman'; font-size: 15px;">

                </p>
                <div class="row">
                    <div class="col-md-5">
                        <a href="" class="btn shop mt-4">More Information</a>
                    </div>
                    <div class="col-md-5 mt-4">
                        <a style="font-family:'Times New Roman'; font-size: 20px; color: #c01d1d; font-weight: bold"><span>Total Cash:</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-md-5">
        <div class="row grids-wthree-info">
            <div class="col-lg-5 bag-img">
                <img src="~" class="img-fluid center-block" alt="" />
            </div>
            <div class="col-lg-7 text-left mt-2">
                <h3 style="font-family:'Times New Roman'; color: #3a7a1e; font-weight: bold;">Trái Tim cho em</h3>
                <p style="font-family:'Times New Roman'; font-size: 15px;">

                </p>
                <div class="row">
                    <div class="col-md-5">
                        <a href="" class="btn shop mt-4">More Information</a>
                    </div>
                    <div class="col-md-5 mt-4">
                        <a style="font-family:'Times New Roman'; font-size: 20px; color: #c01d1d; font-weight: bold"><span>Total Cash:</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-md-5">
        <div class="row grids-wthree-info">
            <div class="col-lg-5 bag-img">
                <img src="~" class="img-fluid center-block" alt="" />
            </div>
            <div class="col-lg-7 text-left mt-2">
                <h3 style="font-family:'Times New Roman'; color: #3a7a1e; font-weight: bold;">Quỹ Vaccine phòng Covid-19</h3>
                <p style="font-family:'Times New Roman';font-size: 15px;">

                </p>
                <div class="row">
                    <div class="col-md-5">
                        <a href="" class="btn shop mt-4">More Information</a>
                    </div>
                    <div class="col-md-5 mt-4">
                        <a style="font-family:'Times New Roman'; font-size: 20px; color: #c01d1d; font-weight: bold"><span>Total Cash:</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</section>
<!-- /banner-bottom -->




