
@{
    var session1 = Session["login"] as webVegankitchen.Common.UserLogin;
    var session2 = Session["newinfo"] as DAO.Model.Customer;
}


@if (session1 == null && session2 == null)
{
    <div class="forms ml-auto">
        <a href="@Url.Action("Signin", "Signin")" class="btn">
            <span class="fa fa-user-circle-o"></span> Sign in
        </a>
        <a href="@Url.Action("Signup", "Signin")" class="btn">
            <span class="fa fa-pencil-square-o"></span> Sign up
        </a>
    </div>

}
else if (session2 != null)
{
    <div class="forms ml-auto">
        <a style=" font-family: 'Times New Roman'; color: #ffffff; font-size: 18px;">
            Hello: @session2.FullName
        </a>
        <a class="btn btn-outline-warning" style=" margin-left: 10px; font-family: 'Times New Roman'; color: #ffffff; font-size: 18px;">
            Sign Out
        </a>
    </div>
}
else
{
    <div class="forms ml-auto">
        <a href="@Url.Action("EditInfo", "Customer")" class="btn btn-outline-info" style=" font-family: 'Times New Roman'; color: #ffffff; font-size: 18px;">
            Hello: @session1.UserName
        </a>
        <a href="@Url.Action("Signout", "Signin")" class="btn btn-outline-warning" style=" margin-left: 10px; font-family: 'Times New Roman'; color: #ffffff; font-size: 18px;">
            Sign Out
        </a>
    </div>

}

