@*@model IEnumerable<DAO.Model.Combo>*@

@using PagedList.Mvc;
@model PagedList.PagedList<DAO.Model.Combo>


@{
    ViewBag.Title = "ComboIndex";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/admin.css" />
<link rel="stylesheet" href="~/Content/PagedList.css" />

<div class="container-fluid">
    @section titlepage{
        Combo Page
    }
    <div class="mt-2 mb-3">
        <table class="table">
            <tr>
                <td>
                    @Html.ActionLink("Insert new Combo", "InsertCombos", "Combos")
                </td>
                <td>
                    @Html.ActionLink("View Drink of combo", "ComboDrink", "ComboDetail")
                </td>
                <td>
                    @Html.ActionLink("View Food of Combo", "ComboFood", "ComboDetail")
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead class="text-center">
                <tr>
                    <th>Id Combo</th>
                    <th>Combo name</th>
                    <th>Combo Price ($)</th>
                    <th>Number Of Foods</th>
                    <th>Number Of Drinks</th>
                    <th>Number Of Person</th>
                    <th>ImgCombo</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdCombo</td>
                        <td>@item.ComboName</td>
                        <td>@item.ComboPrice</td>
                        <td>@item.NumberOfFoods</td>
                        <td>@item.NumberOfDinks</td>
                        <td>@item.NumberOfPerson</td>
                        <td><img src="~/Content/@item.ImgCombo " alt="" class="img-fluid" /></td>
                        <td>
                            <a href="~/Admin/Combos/EditCombo/@item.IdCombo">Edit</a>
                        </td>
                        <td><a href="~/Admin/Combos/Delete/@item.IdCombo">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("ComboIndex", new { page }))
    </div>
</div>

