@model List<webVegankitchen.Models.CartItem>

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var idorder = Session["idOrder"] as DAO.Model.Order;
    var session1 = Session["login"] as webVegankitchen.Common.UserLogin;
    var session2 = Session["newinfo"] as DAO.Model.Customer;
    var idfound = (IEnumerable<DAO.Model.Foundation>)ViewBag.idFound;

    double totalpayment = 0;
}
@section jsfooter{
    <script src="~/Content/js/orderController.js"></script>
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/css/bootstrap.css">

<div class="text-center mt-2 mb-2">
    <h2 style="font-family:'Times New Roman'; color:#0094ff">Order detail</h2>
</div>
@if (Model.Count() > 0)
{
    <div class="container">
        <div>
            <h5 style="font-family:'Times New Roman'; font-size:20px; color:#1228a3">IDCustomer: @session1.IdCustomer </h5>
            <h5 style="font-family:'Times New Roman'; font-size:20px; color:#1228a3">Customer: @session1.UserName </h5>
        </div>
        <div class="mt-2">
            <a style="font-family:'Times New Roman'; font-size:20px; color:#1228a3">List of Foudation </a>
            <br />
            @foreach (var item in idfound)
            {
                <a style="font-family: 'Times New Roman'; font-size: 20px;" class="mb-2">@item.IdFound: @item.FoundationName</a>
                <br />
            }
        </div>
        <div class="mt-4">
            <table class="table text-center" style="font-family:'Times New Roman'">
                <thead>
                    <tr>
                        <th>Id Order</th>
                        <th>Id Product</th>
                        <th>Product name</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Into Money</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <lable hidden="@(totalpayment += item.Amount * item.Price)"></lable>

                        <tr>
                            <td>@(idorder.IdCustomer + 1)</td>
                            <td>@item.IdProduct</td>
                            <td>@item.ProductName</td>
                            <td><input value="@item.Amount" data-id="@item.IdProduct" class="txtamount" style="font-family:'Times New Roman'; width:100px;" type="number" /></td>
                            <td>@item.Price</td>
                            <td style="color: #ff0000"><input type="hidden" style=" width: 10px; color:#ff0000" value="@(item.Amount * item.Price)" readonly="readonly" name="intomoney" />@(item.Amount * item.Price)</td>
                            <td>
                                <a class="btn btn-outline-danger" href="/Order/RemoveCart/@item.IdProduct">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <hr />
        <div class="container text-center mt-3">
            <button class="btn" style="font-family:'Times New Roman'; color:white;  background:#1228a3; border-width:2px;" id="btnContinue">
                Continue buying
            </button>
            <button class="btn ml-3" style="font-family:'Times New Roman'; color:white;  background:#1228a3; border-width:2px;" id="btnUpdate">
                Update Order
            </button>
        </div>
        @using (Html.BeginForm("CheckOut", "Order"))
        {
            <div class="mt-4 text-center">
                <a style="font-family:'Times New Roman';font-size:25px;">Total Payment: $ @totalpayment</a>
                    <input style="font-family: 'Times New Roman'; color: #ff0000; font-size: 30px; " name="totalpayment" type="hidden" value=" @totalpayment" /> 
            </div>
            <div class="text-center mt-4">
                <div class="mt-2">
                    <a style="font-family:'Times New Roman';font-size:20px; color:#b22020" class="mr-2 input">Input Your IDCustomer: </a>
                    <input class="input" type="text" name="idCustomer" required style="width: 70px;" />
                </div>
                <div class="mt-2">
                    <a style="font-family: 'Times New Roman'; font-size: 20px; color: #b22020" class="mr-2 input">Donate for: </a>
                    <input type="number" max="4" min="1" required name="idfound" />
                </div>
                <div class="text-center mt-2">
                    <button type="submit" class="btn" style="font-family:'Times New Roman'; color:white;  background:#ff6a00; border-width:2px;">
                        Payment
                    </button>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="container text-center">
        <h3 style="font-family:'Times New Roman'">Empty Order</h3>
    </div>
    <div class="container text-center mt-5">
        <a href="/" class="btn" style="font-family:'Times New Roman'; color:white;  background:#ff6a00; border-width:2px;">
            Continue buying
        </a>
    </div>
}

