@*@model IEnumerable<DAO.Model.Account>*@

@using PagedList.Mvc;
@model PagedList.PagedList<DAO.Model.Account>

@{
    ViewBag.Title = "AccIndex";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/ContentAdmin/admin.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/PagedList.css" />

<div class="container-fluid">
    @section titlepage{
        Account view Page
    }
    <div class="row mb-2">
        <div class="col-md-5"></div>
        <div class="col-md-7">
            <form action="#" method="post" class="newsletter row">
                <div class="col-md-5"></div>
                <div class="col-md-5 input-group pt-1">
                    <input class="w-50 form-control" type="search" placeholder="Search here..." required="">
                </div>
                <div class="col-md-2 pt-1">
                    <button class="btn btn-outline-success" value="" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered mr-2 ml-2">
            <thead class="text-center">
                <tr style="background: #ebffff ">
                    <th>Id </th>
                    <th>UserName</th>
                    <th>Password</th>
                    <th>Id Customer</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdAcc</td>
                        <td>@item.Username</td>
                        <td>@item.PassWo</td>
                        <td>@item.IdCustomer</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("AccIndex", new { page }))
</div>

