@model IEnumerable<DAO.Model.OrderDetail>

@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/ContentAdmin/admin.css" rel="stylesheet" />

<div>
    @section titlepage{
        Order detail Page
    }
    <hr />
    <div class="container-fluid">
        <table class="table table-bordered">
            <thead class="text-center">
                <tr>

                    <th>Serial</th>
                    <th>Id order</th>
                    <th>Id food</th>
                    <th>Id drink</th>
                    <th>Id combo</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Into Money</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.Serial</td>
                        <td>@item.IdOrder</td>
                        <td>@item.IdFood</td>
                        <td>@item.IdDrink</td>
                        <td>@item.IdCombo</td>
                        <td>
                            @item.Amount
                        </td>
                        <td>@item.Price</td>
                        <td>
                            @item.IntoMoney
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="text-center col-md-2 p">
        <a href="@Url.Action("ViewOrder", "Orders")" class="btn btn-back"> Back </a>
    </div>
</div>
