@using PagedList.Mvc;
@model PagedList.PagedList<DAO.Model.Order>

@{
    ViewBag.Title = "ViewOrder";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/admin.css" />
<link rel="stylesheet" href="~/Content/PagedList.css" />

<div class="container-fluid">
    @section titlepage{
        Order view Page
    }
    <div class="row mb-2">
        <div class="col-md-5"></div>
        <div class="col-md-7">
            @using (Html.BeginForm("ViewOrder", "Orders", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-md-5 input-group pt-1">
                        <input class="w-50 form-control" type="search" placeholder="Search here..." required="" name="search" value="@ViewBag.keyword">
                    </div>
                    <div class="col-md-2 pt-1">
                        <button class="btn btn-outline-success" value="" type="submit">Search</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="container-fluid">
        <table class="table table-bordered mr-2">
            <thead>
                <tr style="background: #ebffff ">
                    <th>ID</th>
                    <th>Id customer</th>
                    <th>Date</th>
                    <th>Sum of Product (dishes)</th>
                    <th>Id Foundation</th>
                    <th>Total Payment ($)</th>
                    <th>Acttion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdOrder</td>
                        <td>@item.IdCustomer</td>
                        <td>@(item.Date.HasValue?item.Date.Value.ToString("dd/MM/yyyy hh:mm:ss") : "")</td>
                        <td>@item.SumOfProduct</td>
                        <td>@item.IdFoundation</td>
                        <td>@item.TotalCash</td>
                        <td>
                            <a href="/Admin/Orders/OrderDetail/@item.IdOrder" class="btn btn-outline-info">Detail</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("ViewOrder", new { page, search = ViewBag.keyword }))
    </div>
</div>

