@model DAO.Model.Account
@{
    ViewBag.Title = "Signout";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/css/bootstrap.css">
<link href="~/Content/css/login.css" rel="stylesheet" />


<div class="login-wrap mt-5 body">
    <div class="text-center" style="font-family: 'Times New Roman'; color: #002f6c; font-size: 30px; padding: 50px 70px 40px 70px;">
        <label>SIGN UP</label>
    </div>

    @using (Html.BeginForm("Signup", "Signin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="login-form">
            <div class="group">
                <label for="user" class="label">Username</label>
                @Html.TextBoxFor(model => model.Username, new {@class="input" } )
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                
            </div>
            <div class="group">
                <label for="pass" class="label">Password</label>
                @Html.PasswordFor(model => model.PassWo, new { @class = "input" } )
                @Html.ValidationMessageFor(model => model.PassWo, "", new { @class = "text-danger" })               
            </div>
            <div class="group">
                <label for="pass" class="label">Confirm Password</label>
                @Html.PasswordFor(model => model.ConfirmPass,  new { @class = "input" } )
                @Html.ValidationMessageFor(model => model.ConfirmPass, "", new { @class = "text-danger" })
               
            </div>
            <div class="group ">
                <input type="submit" class="button mt-5" value="Sign Up">
            </div>
            <div class="hr"></div>
            <div class="text-center">
                <a href="/Signin/Signin">
                    Already Member?
                </a>
            </div>
        </div>
    }
</div>
