@model DAO.Model.Account
@{
    ViewBag.Title = "Signin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/css/bootstrap.css">
<link href="~/Content/css/login.css" rel="stylesheet" />


<div class="login-wrap mt-5 body">
    <div class="text-center" style="font-family: 'Times New Roman'; color: #002f6c; font-size: 30px; padding: 50px 70px 40px 70px;">
        <label>SIGN IN</label>
    </div>
    @using (Html.BeginForm("Signin", "Signin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="login-form">
            <div class="group">
                <label for="user" class="label">Username</label>
                @Html.TextBoxFor(model => model.Username, new { @class = "input" })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
            <div class="group">
                <label for="user" class="label">Password</label>
                @Html.PasswordFor(model => model.PassWo, new { @class = "input" })
                @Html.ValidationMessageFor(model => model.PassWo, "", new { @class = "text-danger" })
            </div>
            @*<div class="group">
                <input id="check" type="checkbox" class="check" checked>
                <label for="check"><span class="icon"></span> Keep me Signed in</label>
            </div>*@
            <div class="group">
                <input type="submit" class="button mt-5" value="Sign In">
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
                <a href="#forgot">Forgot Password?</a> |
                <a href="/Signin/Signup">New account</a>
            </div>
            <div class="hr"></div>
            <div class="text-center">
                <a href="#">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                            <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                        </svg>
                    </span>
                    Sign in with Google
                </a>
            </div>
        </div>
    }

</div>