@model PagedList.PagedList<DAO.Model.Customer>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ViewCustomer";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/ContentAdmin/admin.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/PagedList.css" />

<div class="container-fluid">
    @section titlepage{
        Customer View Page
    }
    <div class="row mb-2">
        <div class="col-md-5"></div>
        <div class="col-md-7">
            @using (Html.BeginForm("ViewCustomer", "Customers", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-md-5 input-group pt-1">
                        <input class="w-50 form-control" type="search" placeholder="Search here..." required="" name="search">
                    </div>
                    <div class="col-md-2 pt-1">
                        <button class="btn btn-outline-success" value="" type="submit">Search</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered mr-2 ml-2">
            <thead class="text-center">
                <tr style="background: #ebffff ">
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Email address</th>
                    <th>Id Account</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdCustomer</td>
                        <td>@item.FullName</td>
                        <td>@item.Phone</td>
                        <td>@item.Address</td>
                        <td>@item.Email</td>
                        <td>@item.IdAcc</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("ViewCustomer", new { page }))
</div>
