@model PagedList.PagedList<DAO.Model.Customer>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ViewCustomer";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/admin.css" />
<link rel="stylesheet" href="~/Content/PagedList.css" />

<div class="container-fluid">
    @section titlepage{
        Customer View Page
    }
    <div class="row">
        <table class="table table-bordered">
            <thead class="text-center">
                <tr>
                    <th>Serial</th>
                    <th>Full Name</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Email address</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdCustomer</td>
                        <td>@item.FullName</td>
                        <td>@item.Phone</td>
                        <td>@item.Address</td>
                        <td>@item.Email</td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("ViewCustomer", new { page }))
    </div>
</div>
