@model IEnumerable<DAO.Model.Drink>
@{
    ViewBag.Title = "DrinkIndex";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/admin.css" />

<div class="container-fluid">
    <div>
        <h2 style="font-family: 'Times New Roman'; font-weight: bold; font-size: 30px; color: #ff0000">Drink page</h2>
    </div>
    <div class="mt-2 mb-3">
        @Html.ActionLink("Insert new Drink", "InsertDrink", "Drinks")
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>IdDrink</th>
                    <th>DrinkName</th>
                    <th>DrinkPrice</th>
                    <th>DrinkMaterial</th>
                    <th>ImgDrink</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdDrink</td>
                        <td>@item.DrinkName</td>
                        <td>@item.DrinkPrice</td>
                        <td>@item.Drinkmaterial</td>
                        <td><img src="~/Content/@item.ImgDrink" alt="" class="img-fluid" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

