@model DAO.Model.Food

@{
    ViewBag.Title = "EditFood";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("EditFood", "Foods", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @section titlepage{
            Food edit Page
        }
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
                @Html.LabelFor(model => model.IdFood, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IdFood, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IdFood, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.FoodName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FoodName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FoodName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FoodPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FoodPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FoodPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Foodmaterial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Foodmaterial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Foodmaterial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImgFood, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ImgFood, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ImgFood, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <button class="btn btn-outline-success mt-2" type="button" id="btnselectImg" style="font-family:'Times New Roman'; font-size:15px;">
                    Select Img
                </button>
            </div>
        </div>
        <div class="row container">
            <div class="col-md-2 text-center mt-2">
                <input type="submit" value="Update" class="btn btn-add" />
            </div>
            <div class="col-md-2 mt-2">
                <a href="@Url.Action("FoodIndex", "Foods")" class="btn btn-back"> Back</a>
            </div>
        </div>
    </div>
}
@section jsFooter{
    <script>
        $('#btnselectImg').on('click', function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImg').val(url);
            };
            finder.popup();
        })
    </script>
}
