@model IEnumerable<DAO.Model.Food>
@{
    ViewBag.Title = "FoodIndex";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/admin.css" />

<div class="container-fluid">
    <div>
        <h2 style="font-family: 'Times New Roman'; font-weight: bold; font-size: 30px; color: #ff0000">Food page</h2>
    </div>
    <div class="mt-2 mb-3">
        @Html.ActionLink("Insert new food", "FoodInsert", "Foods")
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>IdFood</th>
                    <th>FoodName</th>
                    <th>FoodPrice</th>
                    <th>FoodMaterial</th>
                    <th>ImgFood</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
            {
                <tr>
                    <td>@item.IdFood</td>
                    <td>@item.FoodName</td>
                    <td>@item.FoodPrice</td>
                    <td>@item.Foodmaterial</td>
                    <td><img src="~/Content/@item.ImgFood" alt="" class="img-fluid"/></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>


