@model IEnumerable<DAO.Model.OrderDetail>
@{
    ViewBag.Title = "DetailOldOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var session1 = Session["login"] as webVegankitchen.Common.UserLogin;
    var session2 = Session["newinfo"] as DAO.Model.Customer;
}

<div class="mb-2 container text-center mt-3">
    <h2 style="font-family:'Times New Roman'; color:navy">Detail Order: </h2>
</div>
<div class="container">
    <table class="table table-bordered mr-2">
        <thead>
            <tr style="background: #ebffff ">
                <th>ID order detail</th>
                <th>ID Order</th>
                <th>Id Food</th>
                <th>Id Drink</th>
                <th>Id Combo</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Serial</td>
                    <td>@item.IdOrder</td>
                    <td>@item.IdFood</td>
                    <td>@item.IdDrink</td>
                    <td>@item.IdCombo</td>
                    <td>@item.Amount</td>
                    <td>@item.Price</td>
                    <td>@item.IntoMoney</td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <div>
        <h3 class="text-center mt-2" style="font-family:'Times New Roman'; color:#ab2020">Feedback here:</h3>
    </div>

    @if (session1 != null)
    {
        <div class="container">
            <div class=" mt-3">
                @using (Html.BeginForm("AddComment", "Comment"))
                {
                    <table>
                        <tr>
                            <td>
                                <a style="font-family:'Times New Roman'; font-size: 20px;">Id Product: </a>
                            </td>
                            <td>
                                <input type="text" name="idproduct" style="font-family: 'Times New Roman'; " />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a style="font-family:'Times New Roman'; font-size: 20px;" > Content: </a>
                            </td>
                            <td>
                                <input style="width: 100%; font-family: 'Times New Roman';" type="text" name="content" />
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <a style="font-family:'Times New Roman'; font-size: 20px;">Your id account:</a>
                            </td>
                            <td width="85%">
                                <input type="number" name="idacc" readonly="readonly" value="@session1.Id" />
                            </td>
                        </tr>
                        <tr class="text-right">
                            <td colspan="2">
                                <button type="submit" class="btn btn-outline-warning">Add Comment</button>
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    }
    else if (session2 != null)
    {
        <div class="container">
            <div class=" mt-3">
                @using (Html.BeginForm("AddComment", "Comment", FormMethod.Post))
                {
                    <table>
                        <tr>
                            <td>
                                <a style="font-family:'Times New Roman'; font-size: 20px;">Id Product: </a>
                            </td>
                            <td>
                                <input type="text" name="idproduct" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a style="font-family:'Times New Roman'; font-size: 20px;"> Content: </a>
                            </td>
                            <td>
                                <input style="width:100%;" type="text" name="content" />
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <a style="font-family:'Times New Roman'; font-size: 20px;">Your id account:</a>
                            </td>
                            <td width="85%">
                                <input type="number" name="idacc" readonly="readonly" value="@session2.IdAcc" />
                            </td>
                        </tr>
                        <tr class="text-right">
                            <td colspan="2">
                                <button type="submit" class="btn btn-outline-warning">Add Comment</button>
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    }
    <div class="text-center mt-2">
        <a href="/" class="btn btn-outline-primary"> Home</a>
    </div>
</div>

